@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

body {
    background: #000000;
}

.panel {
    grid-row: span 5;
    width: 190px;
    height: 100vh;
    background: linear-gradient(360deg, rgba(34, 50, 71, 0.0001) 0%, #223247 100%);
}

.logo {
    padding: 7px 58px 18px 59px;
}

.panel > h2 {
    padding: 0 0 26px 33px;
    color: #8DABC4;
    font-weight: 300;
    font-size: 24px;
}
.panel ul, li {
    list-style: none;
}

.panel > ul {
    padding: 0 0 0 58px;
}

.panel > ul li {
    position: relative;
}

.panel > ul li a {
    display: block;
    text-decoration: none;
    color: #ECF5FD;
    padding: 0 0 25px 0px;
    font-size: 15px;
    font-weight: 300;
}

.panel > ul li > a i.fa {
    position: absolute;
    top: 2px;
    left: -26px;
}

.panel > ul.setup {
    position: absolute;
    bottom: 101px;
}

.profile {
    position: absolute;
    bottom: 20px;
    left: 24px;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.3fr;
    grid-gap: 15px;
}

.dashboard > h1 {
    font-size: 28px;

}

.dashboard {
    margin-left: 32px;
}

.date { 
    grid-column: 5 / 2 span;
}

.left {
    grid-row: span 3;
    grid-column: span 2;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-gap: 15px 0px;
    margin-left: 32px;
}

.right { 
    grid-row: span 3;
    grid-column: span 2;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 15px;
    margin-right: 73px;
}

.widget1 {

    background: #26374C;
    border: 1px solid rgba(255, 255, 255, 0.0409307);
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.172809), inset 0px -1px 0px rgba(255, 255, 255, 0.0760586);
    border-radius: 4px;
}

.widget2 {

    background: #26374C;
    border: 1px solid rgba(255, 255, 255, 0.0409307);
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.172809), inset 0px -1px 0px rgba(255, 255, 255, 0.0760586);
    border-radius: 4px;

}

.widget3 {

    background: #26374C;
    border: 1px solid rgba(255, 255, 255, 0.0409307);
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.172809), inset 0px -1px 0px rgba(255, 255, 255, 0.0760586);
    border-radius: 4px;

}

.widget4 {

    background: #26374C;
    border: 1px solid rgba(255, 255, 255, 0.0409307);
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.172809), inset 0px -1px 0px rgba(255, 255, 255, 0.0760586);
    border-radius: 4px;
    grid-row-start: 2;
    grid-column-start: 1;

}

.widget5 {

    background: #26374C;
    border: 1px solid rgba(255, 255, 255, 0.0409307);
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.172809), inset 0px -1px 0px rgba(255, 255, 255, 0.0760586);
    border-radius: 4px;
    grid-row-start: 2;
    grid-column-start: 2;

}

.widget6 {

    background: #26374C;
    border: 1px solid rgba(255, 255, 255, 0.0409307);
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.172809), inset 0px -1px 0px rgba(255, 255, 255, 0.0760586);
    border-radius: 4px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;

}

